
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="~/Content/Imagenes/accessJob_logo.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="css/miestilo.css?1.0" media="all">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACCESS JOB</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Style.css")
    @Scripts.Render("~/bundles/modernizr")

    <script>
        function scrollToCoordinates1() {
            var x, y;

            // Detectar el tipo de dispositivo
            if (window.innerWidth <= 768) { // Considerando que el ancho para dispositivos móviles es de 768px o menos
                // Coordenadas para dispositivos móviles
                x = 0;
                y = 600;
            } else {
                // Coordenadas para computadoras
                x = 0;
                y = 1184;
            }

            // Realizar el desplazamiento
            window.scrollTo(x, y);
        }

        function scrollToCoordinates2() {
            var x, y;

            // Detectar el tipo de dispositivo
            if (window.innerWidth <= 768) { // Considerando que el ancho para dispositivos móviles es de 768px o menos
                // Coordenadas para dispositivos móviles
                x = 0;
                y = 330;
            } else {
                // Coordenadas para computadoras
                x = 0;
                y = 880;
            }

            // Realizar el desplazamiento
            window.scrollTo(x, y);
        }

        function scrollToCoordinates3() {
            var x, y;

            // Detectar el tipo de dispositivo
            if (window.innerWidth <= 768) { // Considerando que el ancho para dispositivos móviles es de 768px o menos
                // Coordenadas para dispositivos móviles
                x = 0;
                y = 3030;
            } else {
                // Coordenadas para computadoras
                x = 0;
                y = 2070;
            }

            // Realizar el desplazamiento
            window.scrollTo(x, y);
        }

    </script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top fondoNv">

        <div class="navegador_largo">
            <div class="navbar-header ">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="row ">
                    <img src="~/Content/Imagenes/accessJob_imagoc.png" alt="logo" class="logo_accessJob_imagoc" />
                    <img src="~/Content/Imagenes/accessJob_logoc.png" alt="logo" class="logo_accessJob_logo" />
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right browser-layout_2">
                    <li class="browser-layout"><a href="#ACCESS-JOB">ACCESS JOB</a></li>
                    <li class="browser-layout"><a href="javascript:void(0);" onclick="scrollToCoordinates2()">NOSOTROS</a></li>
                    <li class="browser-layout"><a href="javascript:void(0);" onclick="scrollToCoordinates1()">SERVICIOS</a></li>
                    <li class="browser-layout"><a href="javascript:void(0);" onclick="scrollToCoordinates3()">CONTACTO</a></li>

                    <li class="browser-layout">@Html.ActionLink("OFERTAS", "Index", "Home")</li>
                    <li class="browser-layout">@Html.ActionLink("MESA DE AYUDA", "Index", "Home")</li>
                    <li class="blazul">@Html.ActionLink("Login", "Index", "Home", null, new { target = "_blank", href = "https://infrusch.com.mx/" })</li>


                </ul>
            </div>



        </div>

    </div>


    <div>
        @RenderBody()
    </div>


    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

